<mat-toolbar color="primary">
  <div class="m-s">GA4GH Discovery Search Query Builder</div>
</mat-toolbar>
<div class="m-a">
  <mat-form-field style="width: 400px" >
    <mat-select placeholder="Configuration"
                [(value)]="currentConfig">
      <mat-option *ngFor="let configuration of configurations" [value]="configuration">
        {{ configuration.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="pull-right">
    <button mat-raised-button color="primary">Search</button>
  </div>
  <div class="clearfix"></div>
  <mat-tab-group>
    <mat-tab label="Fields">
      <div class="m-v">
        <div class="mat-table">
          <div class="mat-header-row">
            <div class="mat-header-cell">Name</div>
            <div class="mat-header-cell">ID</div>
            <div class="mat-header-cell">Type</div>
            <div class="mat-header-cell">Options</div>
            <div class="mat-header-cell">Operators</div>
          </div>
          <div class="mat-row" *ngFor="let field of currentConfig.config.fields | keyvalue">
            <div class="mat-cell">{{field.value.name}}</div>
            <div class="mat-cell"><a href="{{field.value.spec}}">{{field.value.id}}</a></div>
            <div class="mat-cell">{{field.value.type}}</div>
            <div class="mat-cell">
              <div *ngFor="let option of field.value.options | keyvalue">
                {{option.value.name}}
              </div>
            </div>
            <div class="mat-cell">
              <div *ngFor="let operator of field.value.operators">
                {{operator}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="GUI">
      <div class="m-v">
        <query-builder [ngModel]="currentConfig.query"
                       (ngModelChange)="updateJsonEditor($event)"
                       [config]="currentConfig.config">
          <ng-container *queryButtonGroup="let ruleset; let addRule=addRule; let addRuleSet=addRuleSet; let removeRuleSet=removeRuleSet">
            <button type="button" matTooltip="Add Rule" mat-icon-button color="primary" (click)="addRule()">
              <mat-icon>add</mat-icon></button>
            <button type="button" matTooltip="Add Ruleset" mat-icon-button color="primary" *ngIf="addRuleSet" (click)="addRuleSet()">
              <mat-icon>add_circle_outline</mat-icon></button>
            <button type="button" mat-icon-button matTooltip="Remove Ruleset" color="accent" *ngIf="removeRuleSet" (click)="removeRuleSet()">
              <mat-icon>remove_circle_outline</mat-icon></button>
          </ng-container>

          <ng-container *queryArrowIcon>
            <mat-icon ngClass="mat-arrow-icon">chevron_right</mat-icon>
          </ng-container>

          <ng-container *queryRemoveButton="let rule; let removeRule=removeRule">
            <button type="button" mat-icon-button matTooltip="Remove Rule" color="accent" (click)="removeRule(rule)">
              <mat-icon>remove</mat-icon>
            </button>
          </ng-container>

         <ng-container *querySwitchGroup="let ruleset; let onChange=onChange">
           <mat-radio-group *ngIf="ruleset" [(ngModel)]="ruleset.condition" (ngModelChange)="onChange($event)">
             <mat-radio-button [style.padding.px]="10" value="and">And</mat-radio-button>
             <mat-radio-button [style.padding.px]="10" value="or">Or</mat-radio-button>
           </mat-radio-group>
         </ng-container>

         <ng-container *queryField="let rule; let fields=fields; let onChange=onChange; let getFields = getFields">
           <mat-form-field>
             <mat-select [(ngModel)]="rule.field" (ngModelChange)="onChange($event, rule)">
               <mat-option *ngFor="let field of getFields(rule.entity)" [value]="field.value">
                 {{ field.name }}
               </mat-option>
             </mat-select>
           </mat-form-field>
         </ng-container>

         <ng-container *queryOperator="let rule; let operators=operators; let onChange=onChange">
           <mat-form-field [style.width.px]="90">
             <mat-select [(ngModel)]="rule.operator" (ngModelChange)="onChange()">
               <mat-option *ngFor="let value of operators" [value]="value">
                 {{ value }}
               </mat-option>
             </mat-select>
           </mat-form-field>
         </ng-container>

         <ng-container *queryInput="let rule; type: 'phenotype'">
           <button mat-raised-button>Choose HPO Term(s)</button>
         </ng-container>

         <ng-container *queryInput="let rule; type: 'boolean'; let onChange=onChange">
           <mat-checkbox [(ngModel)]="rule.value" (ngModelChange)="onChange()"></mat-checkbox>
         </ng-container>

         <ng-container *queryInput="let rule; let field=field; let options=options; type: 'category'; let onChange=onChange">
           <mat-form-field>
             <mat-select [(ngModel)]="rule.value" (ngModelChange)="onChange()">
               <mat-option *ngFor="let opt of options" [value]="opt.value">
                 {{ opt.name }}
               </mat-option>
             </mat-select>
           </mat-form-field>
         </ng-container>

         <ng-container *queryInput="let rule; type: 'date'; let onChange=onChange">
           <mat-form-field>
             <input matInput [matDatepicker]="picker" [(ngModel)]="rule.value" (ngModelChange)="onChange()">
             <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
             <mat-datepicker #picker></mat-datepicker>
           </mat-form-field>
         </ng-container>

         <ng-container *queryInput="let rule; let options=options; type: 'multiselect'; let onChange=onChange">
           <mat-form-field [style.width.px]="300">
             <mat-select [(ngModel)]="rule.value" multiple (ngModelChange)="onChange()">
               <mat-option *ngFor="let opt of options" [value]="opt.value">
                 {{ opt.name }}
               </mat-option>
             </mat-select>
           </mat-form-field>
         </ng-container>

         <ng-container *queryInput="let rule; let field=field; type: 'number'; let onChange=onChange">
           <mat-form-field [style.width.px]="100">
             <input matInput [(ngModel)]="rule.value" type="number" (ngModelChange)="onChange()">
           </mat-form-field>
           {{field.units}}
         </ng-container>

         <ng-container *queryInput="let rule; let field=field; type: 'string'; let onChange=onChange">
           <mat-form-field>
             <input matInput [(ngModel)]="rule.value" (ngModelChange)="onChange()">
           </mat-form-field>
         </ng-container>

         <ng-container *queryInput="let rule; let field=field; type: 'textarea'; let onChange=onChange">
           <mat-form-field>
             <textarea matInput [(ngModel)]="rule.value" (ngModelChange)="onChange()">
             </textarea>
           </mat-form-field>
         </ng-container>

        </query-builder>
      </div>
    </mat-tab>

    <mat-tab label="JSON">
      <div class="m-v">
        <json-editor #jsonEditor
                     [options]="editorOptions"></json-editor>
      </div>
    </mat-tab>
    <mat-tab label="SQL">
      <div class="m-v">
        TODO
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
