<div itemscope itemtype="http://schema.org/Product">
  <div id="ds-banner" class="row bn-hero-white b-b" style="background: url('assets/images/dnastack-hero-map.png'); background-size: cover; background-position: 50% 50%">
    <div class="mx-width clearfix">
      <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12 col-sm-6 ds-banner-text">
          <div class="p-v-xxxl">
            <div class="h2 text-white m-b-lg">Powering the Internet of Genomics</div>
            <p class="font-xl text-white">
              Our mission is to improve the lives of millions of people affected by genetic disease by breaking down barriers to data sharing and discovery.
            </p>
            <div class="m-t-xl">
              <a class="m-r-lg btn btn-light" href="https://app.dnastack.com">Get Started</a>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div id ="ds-news" class="row bn-hero-gray b-b">
    <div class="mx-width clearfix p-v-xl">
      <div class="col-xs-12">
        <div class="row">
                <div class="col-xs-12 col-sm-3">
                  <div>
                    <div class="font-bold font-xs ng-binding text-primary" style="text-transform:uppercase">Coming Soon</div>
                    <div class="font-bold font-xs text-dark ng-binding" style="text-transform:uppercase">Peer reviewed publication</div>
                    <div>
                      <div style="height:65px" class="ng-scope">
                        <img class="v-align" src="assets/images/nat-bio.png" style="max-width:100%;" height="40px"/>
                      </div>
                    </div>
                    <div class="m-b ng-binding">March 5 2019</div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-9">
                  <div class="h2" style="line-height:1">Federated discovery and sharing of genomic data using Beacons</div>
                  <div class="text-muted m-t-lg">
                    Fiume M, Cupak M, Keenan S, Rambla J, Torre S, Dyke S, Brookes A, Carey K, Lloyd D, Goodhand P, Haeussler M, Baudis M, Stockinger H, Dolman L, Lappalainen I, Törnroos J, Linden M, Spalding D, Ur-Rehman S, Page A, Flicek P, Sherry S, Haussler D, Varma S, Saunders G, Scollen S
                  </div>
                  <div class="m-t-lg">
                    <a ui-sref="publications" class="pull-right btn btn-primary">Our Publications</a>
                  </div>
                </div>
              </div>
      </div>
    </div>
  </div>
  <div id="ds-technologies" class="row bn-hero-white b-b">
  <div class="mx-width clearfix p-v-xxl">
    <div class="col-xs-12">
    <div class="row m-b-xl">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        <h2 class="h2 m-b-lg">What we do</h2>
        <p class="font-xl">
          We develop standards and technologies for scientists to more efficiently find, access, and analyze the world's exponentially growing volumes of genomic and biomedical data.
        </p>
      </div>
    </div>
    </div>
    <div class="col-xs-12" ng-repeat="technology in main.technologies">
      <div class="row">
        <div class=" m-t-xxl hidden-sm hidden-xs">
        </div>
        <div class="col-xs-12 hidden-xs col-sm-6" ng-class="{'col-sm-push-6' : $index%2 === 0}">
          <img src="{{technology.imgurl}}"
          style="
          display: block;
          width: 100%;
          height: 350px;
          object-fit: cover;"/>
          <div class="m-t hidden">
            <div style="border-left: 2px solid #1c84ca;">
              <div class="font-xs" style="margin-left: 8px" ng-bind-html="technology.imgcaption"></div>
            </div>
          </div>
        </div>
        <div class="col-x2-12 col-sm-6" ng-class="{'col-sm-pull-6' : $index%2 === 0}" style="height: min-350px; padding: 10px 30px 10px 30px;">
          <div>
            <div class="h2 m-b inline text-primary">{{technology.name}}</div>
          </div>
          <p class="font-lg" ng-bind-html="technology.description"></p>
        </div>
      </div>
    </div>
  </div>
</div>
  <div id="ds-quote" class="row bn-hero-blue-gradient b-b" itemprop="description">
  <div class="mx-width clearfix p-v-xxl font-xl">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12 ">
          <p class="">
            &quot;Sharing data is key to unlocking insights about disease that wouldn't otherwise be possible. DNAstack is contributing to global efforts to enable sharing of genomic and clinical data to advance human health.&quot;
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 m-t-lg">
          <p class="pull-right font-thin font-xl">
            &mdash; Peter Goodhand, CEO, Global Alliance for Genomics & Health
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
  <div id="ds-markets" class="row bn-hero-white b-b">
    <div class="mx-width clearfix p-v-xxl">
      <div class="col-xs-12">
      <div class="row m-b-xl">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
          <h2 class="h2 m-b-lg">Application Areas</h2>
          <p class="font-xl">Our technologies accelerate breakthrough discoveries in academic, clinical, and pharmaceutical research.</p>
        </div>
      </div>
      <div class="row m-b-xl">
        <div class="col-xs-12 col-sm-2 col-sm-offset-2 text-center m-b-lg">
          <div>
            <img src="assets/images/product/noun_457696_cc.svg" height="100">
          </div>
          Academia
        </div>
        <div class="col-xs-12 col-sm-2 text-center m-b-lg">
          <div>
            <img src="assets/images/product/noun_569080_cc.svg" height="100">
          </div>
          Clinical
        </div>
        <div class="col-xs-12 col-sm-2 text-center m-b-lg">
          <div>
            <img src="assets/images/product/noun_193371_cc.svg" height="100">
          </div> Pharmaceutical
        </div>
        <div class="col-xs-12 col-sm-2 text-center m-b-lg">
          <div>
            <img src="assets/images/product/noun_542078_cc.svg" height="100">
          </div>
          Direct-to-Consumer
        </div>
      </div>
    </div>
    </div>
  </div>
  <div id="ds-partners" class="row bn-hero-white">
    <div class="mx-width clearfix p-v-xxl">
      <div class="col-xs-12 text-center" ng-init="partnerLogoHeight='45px'">
        <h2 class="h2 p-v-lg">
          Partners
        </h2>
        <p class="font-xl">
          We're proud to partner with these and other industry-leading organizations
        </p>
        <div class="ds-partner p-v inline" ng-repeat="partner in main.partners">
          <a href="{{partner.url}}">
            <img
            style="margin:20px;"
            class="m-a {{partner.logoClass}}" ng-src="{{partner.logoSrc}}" height="{{partner.imgheight ? partner.imgheight : partnerLogoHeight}}"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
